.master-head {
  height: 100vh;
  padding-top: 7.5rem;
  padding-bottom: 5rem;
  color: #fff;
  background: #2d0000;

  .container {
    background: #2d0000;
  }
}

.navbar {
  background: #6d0404;

  a {
      display: block;
      width: 145px;
      height: 60px;
      background: url('../assets/images/logo.png');
      background-size: contain;
  }
}

.highlight {
  color: #f0c519;
}

.text-bold {
  font-weight: bold;
}

.btn-outline-light:hover {
  background-color: #f0c519;
}